Source: python-bcrypt
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders:
 Simon Fondrie-Teitler <simonft@riseup.net>,
 Daniel Stender <stender@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 11),
               dh-python,
               python-dev,
               python-setuptools,
               python-cffi,
               python-pytest <!nocheck>,
               python-six,
               python3-dev,
               python3-setuptools,
               python3-cffi,
               python3-pytest <!nocheck>,
               python3-six
Homepage: https://github.com/pyca/bcrypt
Standards-Version: 4.3.0
Vcs-Git: https://salsa.debian.org/python-team/modules/python-bcrypt.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/python-bcrypt
XS-Pexip-Upstream: http://deb.debian.org/debian/ bullseye

Package: python-bcrypt
Architecture: linux-any
Depends: ${python:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: password hashing library for Python
 bcrypt is a Python module which provides a password hashing method based on
 the Blowfish password hashing algorithm, as described in
 "A Future-Adaptable Password Scheme" by Niels Provos and David Mazieres:
 http://static.usenix.org/events/usenix99/provos.html.
 .
 This package provides the bcrypt Python module for Python 2.x.

Package: python3-bcrypt
Architecture: linux-any
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: password hashing library for Python 3
 bcrypt is a Python module which provides a password hashing method based on
 the Blowfish password hashing algorithm, as described in
 "A Future-Adaptable Password Scheme" by Niels Provos and David Mazieres:
 http://static.usenix.org/events/usenix99/provos.html.
 .
 This package provides the bcrypt Python module for Python 3.x.
